.company-use {
	padding: 63px 0 36px;

	.container {
		display: flex;
		flex-direction: column;
	}

	&__title {
		font-size: 22px;
		line-height: 26px;
	}

	&__wrapper-logo {
		margin-top: 45px;
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		> img {
			height: auto;
		}
	}
}
