.footer {
	background: var(--black-color);
	color: #fff;
	padding: 100px 0;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__descr {
		font-size: 16px;
		line-height: 24px;
		opacity: 70%;
		max-width: 327px;
		margin-top: 35px;
	}

	.footer__wrapper__menu {
		display: flex;
		> div {
			padding: 10px;
		}
	}
	.menu {
		&__title {
			font-size: 21px;
			line-height: 25px;
			margin-bottom: 35px;
		}
		&__item {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0px;
			}
			> a {
				color: #fff;
				opacity: 70%;
			}
		}
	}
}
