@import '../config/mixins';

.header {
	background: #1f98f0;
	margin-bottom: -1px;
	color: #ffff;
	padding: 30px 20px 20px;

	.container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		margin-right: 50px;
	}

	&__menu {
		margin: 0 20px;
	}

	.menu {
		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__list {
			width: 320px;

			display: flex;
			justify-content: space-between;
		}
		&__item {
		}
		&__link {
			color: #ffffffb3;
			font-size: 16px;
			font-family: 'Work Sans';
			font-weight: 500;

			&_active {
				color: #fff;
				&:after {
					content: '';
					border: 2px solid #ffffffc9;
					display: block;
					width: 100%;
					margin-top: 3px;
				}
			}
		}
	}

	&__btn {
		color: var(--black-color);
	}
}
