:root {
	// Семейство шрифта по умолчанию
	--bs-font-family: "Lato", sans-serif;

	// Размер шрифта по умолчанию
	--bs-font-size: 16px;

	// Жирность шрифта по умолчанию
	--bs-font-weight: 400;

	// Цвет шрифта по умолчанию
	--bs-font-color: #ffff;
	--black-color: #03101A;
	--bs-transition: 0.3s ease-in-out;
	--main-color: #1F98F0;
}
